.header {
  width: 100%;
  height: auto;
  background-color: #111b2e;
  padding: 20px;
}

.titleContainer {
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 3.25rem;
  line-height: 50px;
}

.title span {
  font-size: 1.75rem;
  color: #e6890f
}

.titleContainer p {
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .title {
    font-size: 4.5rem;
    line-height: 60px;
  }
  
  .title span {
    font-size: 2.5rem;
  }
  
  .titleContainer p {
    font-size: 1.25rem;
  }
}